* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #1d4d36;
    color: rgb(10, 67, 62);
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    padding: 20px;
}

aside {
    width: 20%;
    background-color: #1d4d36;
    padding: 20px;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 10px 0;
}

aside ul li a {
    text-decoration: none;
    color: rgb(132, 246, 172);
}

section {
    width: 75%;
    padding: 20px;
    background-color: #1d4d36;
    margin-left: 20px;
    border: 1px solid #1d4d36;
    color: whitesmoke
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1d4d36;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer a {
    color: rgb(132, 246, 172);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
